﻿@{
    ViewBag.Title = "Home Page";
}
<script src="/CredoUI/Scripts/TaskManager.js"></script>
<div id="divResult"></div>
<button id="btnAddTask" onclick="AddTask();return false;">Add Task</button>
<div id="newTask">
    <table>
        <tr><td>Task description</td><td><input type="text" id="txtTaskDesc" /></td></tr>
        <tr><td><button onclick="SaveTask();return false;">Save Task</button></td></tr>
    </table>
</div>


