﻿@{
    ViewBag.Title = "NGTask";
}
@section Scripts
{
    <script src="~/Scripts/Modules/TaskClient.js"></script>
    <script src="~/Scripts/Controllers/TaskController.js"></script>
    <script src="~/Scripts/Services/TaskService.js"></script>
}
<h2>NGTask</h2>
<div ng-app="TaskApp" class="container">
    @*<br />
        <br />
        <input type="text" placeholder="Search Task" ng-model="searchStudent" />
        <br />*@
    <div ng-controller="TaskController">
        <ul>
            <li ng-repeat="t in tasks | startFrom:currentPage*pageSize | limitTo:pageSize">
                <div>{{t.ID}}</div>
                <div>{{t.TaskDescription}}</div>
                <div ng-if="t.IsCompleted==true">
                    <input type="checkbox" checked />
                </div>
                <div ng-if="t.IsCompleted==false">
                    <input type="checkbox" />
                </div>
            </li>
        </ul>
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</div>
